#fsbg1 {
	width: 100%;
	z-index: -100;
	left: 0px;
	top: 0px;
	min-height: 100%;
	min-width: 1040px;
	position: fixed;
}
.banner {
	height: auto;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
}
.banner #logo {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.main_content {
	height: auto;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#left_col {
	height: auto;
	width: 980px;
	margin-top: 15px;
	margin-bottom: 5px;
	background-color: #99FF99;
	float: left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	line-height: 1.4em;
	color: #006633;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: lighter;
}
#right_col {
	height: auto;
	width: 980px;
	margin-bottom: 15px;
	background-color: #999900;
	float: left;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	line-height: 1.4em;
	color: #FFFFFF;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: lighter;
}

.footer {
	clear: both;
	background-color: #FFF;
	height: 50px;
	opacity: .4;
	filter: alpha(opacity=40);
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 0.9em;
	color: #000;
}
.main_content #left_col h2 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 5px;
	color: #063;
	letter-spacing: 0.2em;
	font-weight: lighter;
}
.main_content #right_col h2 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 5px;
	color: #FFF;
	letter-spacing: 0.2em;
	font-weight: lighter;
}
